input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #626275;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.webLogo {
  font-family: "Russo One", sans-serif;
  font-size: 3vh;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 2px 2px #999999;
}
.webLogo:hover {
  color: #222235;
}
.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3vh;
  background-color: #626275;
  border-bottom: 1px solid #505050;
  z-index: 1;
  display: flex;
  padding: 1vh;
  align-items: center;
  justify-content: space-between;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainButtons {
  margin: 3vh;
}
.mainButtons input {
  background-color: #525265;
  height: 3vh;
  width: 8vh;
  outline: none;
  margin: 0.5vh;
  border: 1px solid #222245;
  cursor: pointer;
  font-size: 1.2vh;
  color: #f3f3f3;
  border-radius: 0vh;
}

.mainButtons input:hover {
  background-color: #828295;
  color: #222245;
}

.custom-select {
  position: relative;
  font-family: Arial;
  border: 1px solid #222235;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #323245;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  width: 20vh;
}

.select-items {
  position: absolute;
  background-color: #424255;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
